body {
  background-color: hsl(71, 50%, 35%);
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #ede9e9;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li {
    background-color: #070707;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}
